#bottombar
  .holder
    ul
      li
        a.boton(href='#overview') Qué es
      li
        a.boton(href='#lecciones') Lecciones
      li
        a.boton(href='#especificaciones') Contenidos
      li
        a.boton(href='#equipo') Equipo
      li
        a.boton(href='#testimonios') Testimonios
      .float-none