!!! 5
html(lang="es")
  head
    - include 'views/head-meta.phtml'
    - include 'views/head-statics.phtml'
  body
    .presenation
      - include 'views/topbar.phtml'
      - include 'views/bottombar.phtml'
      
      - include 'views/section-01-opening.phtml'
      - include 'views/section-02-queEs.phtml'
      - include 'views/section-03-enTuBolsillo.phtml'
      - include 'views/section-04-lecciones.phtml'
      - include 'views/section-05-contenidos.phtml'
      //-
        - include 'views/section-focus.phtml'
      //-
        - include 'views/section-components.phtml'
      
      //-
        - include 'views/section-lastBlock.phtml'

      - include 'views/section-06-suscribete.phtml'
      - include 'views/section-07-social.phtml'
      - include 'views/section-08-equipo.phtml'
      - include 'views/section-09-testimonios.phtml'

    - include 'views/section-10-comentarios.phtml'
    
    - include 'views/suscribe.phtml'
    
    - include 'views/footer.phtml'
