section.video
  .fondo-rosa
  #bgVideo.background
  .holder
    .container.centrador
      img.icono(src="images/icono.png",alt="")
      img(src="images/logo.png",alt="")
      h6 Learning
      //- 
        span.sdf
          strong Texto
          | Más texto
        a.play(href='https://vimeo.com/designmodo/startup', target='_blank')
          span.fui-play
        span.suys
          strong Suit Up
          | your
          | Startup
      //-
        h1 Learn English... Be Sexy!
      //-
        a.arrow(href='#overview')
          span.icn_arrow(aria-hidden='true')

    .browser.oculto
      .browser-contents
        .slide-01
          h4 Learn 
            b English...
            br
            | Be 
            b Sexy!
          img(src="images/corazon.png",alt="")
        .slide-02.oculto
          h4 El método más 
            b revolucionario
            br
            | de 
            b aprendizaje de inglés
          img(src="images/diplomado.png",alt="")
        .slide-03.oculto
          h4 Pronto inauguraremos 
            b Sexy English
            br
            b.show-suscribe Suscríbete 
            | a nuestra lista de espera
          img.show-suscribe(src="images/calendar.png",alt="")
      img.fondo-browser(src="images/browser.png",alt="browser")