section.samples#equipo

  .details
    .cont
      img.icono(src="images/equipo.png",alt="")
      h1 Equipo directivo
  .holder
    //-
      h3 Equipo directivo
      img.icono(src="images/equipo.png",alt="")
    ul
      li.first
        .img(style='background-image:url("images/team/concha.jpg")',alt="")
        h3 Concha Castillejo
        p CEO & Founder
        p
          a(href="http://www.linkedin.com/pub/concha-castillejo/b/b76/108/en",target="_blank")
            i.fa.fa-linkedin-square
      li.second
        .img(style='background-image:url("images/team/simon.jpg")',alt="")
        h3 Simon Stepney
        p Content manager & Founder
        p
          a(href="http://es.linkedin.com/pub/simon-stepney/85/749/870",target="_blank")
            i.fa.fa-linkedin-square
      li.third
        .img(style='background-image:url("images/team/enrique.jpg")',alt="")
        h3 Enrique Castillejo
        p Pedagogics director & Founder
        p
          a(href="http://es.linkedin.com/pub/enrique-castillejo/2b/167/234",target="_blank")
            i.fa.fa-linkedin-square