section.samples#testimonios
  .details
    .cont.cabecera
      img.icono(src="images/testimonio.png",alt="")
      h1 Testimonios
    .cont
      .testimonio
        .img(style="background-image:url('images/team/simon.jpg');")
        .texto
          p
            |  "Me ha encantado probar Sexy… me ha encantado ser sexy."
          h5 – Cristina
        .clear-both
      .testimonio.floatright
        .img(style="background-image:url('images/team/simon.jpg');")
        .texto
          p
            |  "Al principio no sabía muy bien lo que significaba y cómo era el método, pero realmente aprendes inglés.."
          h5 – Toni
        .clear-both
      .testimonio
        .img(style="background-image:url('images/team/simon.jpg');")
        .texto
          p
            |  "Este método me está encantando, es divertido, muy efectivo y muy sexy."
          h5 – Ana
        .clear-both
      .testimonio.floatright
        .img(style="background-image:url('images/team/simon.jpg');")
        .texto
          p
            |  "Me ha encantado probarlo. ¿Habrá una comunidad de SexyEnglish?"
          h5 – María
        .clear-both
      .testimonio
        .img(style="background-image:url('images/team/simon.jpg');")
        .texto
          p
            |  "Me ha parecido genial, habrá que ver cómo llega al público."
          h5 – Enrique
        .clear-both
      .testimonio.floatright
        .img(style="background-image:url('images/team/simon.jpg');")
        .texto
          p
            |  "Lo que más me ha gustado es que voy a preparar mi examen con este sistema y veo que efectivamente sus contenidos responden a lo que necesito y encima me divierto."
          h5 – José
        .clear-both