section.samples#lecciones
  .details
    .cont
      h1 Un aprendizaje emocional
      p
        | Hemos diseñado un plan de estudios que te permitirá aprender y explorar el idioma desde un punto de vista emocional. El juego, la seducción, el intercambio de emociones, son la mejor base para el aprendizaje de un idioma.
  .holder
    ul
      li.first
        h3 Tres niveles de dificultad
        p
          b Good
          | , 
          b Better
          | , 
          b Best
          | . Ajustamos las lecciones según tus conocimientos del idioma. 
      li.second
        h3 Objetivos claros
        p
          |  Nuestros cursos tienen como objetivo prepararte para superar pruebas de nivel oficiales internacionales.
      li.third
        h3 +18
        p
          | El contenido de nuestro temario está destinado a adultos, por lo que tienes que tener más de 18 años para participar en Sexy English.
        
    #samples-grid.screenshots
      .screen
        .proximamente.hidden-xs
          p Próximamente
        img(alt='', src='images/thumbs/01.png')
        .info-sample
          h4 Women's handbags
          p What's really in them?
      .screen.double
        .proximamente.hidden-xs
          p Próximamente
        img(alt='', src='images/thumbs/04.png')
        .info-sample
          h4 Blind dates: all you need to know
          p Conversation exercise
      .screen
        .proximamente.hidden-xs
          p Próximamente
        img(alt='', src='images/thumbs/02.png')
        .info-sample
          h4 Recommendable men/women vs toxic men/women
          p We take a closer look at personality types
      .screen
        .proximamente.hidden-xs
          p Próximamente
        img(alt='', src='images/thumbs/03.png')
        .info-sample
          h4 Would you visit a dark room on this platform?
          p Survey
      .screen
        .proximamente.hidden-xs
          p Próximamente
        img(alt='', src='images/thumbs/05.png')
        .info-sample
          h4 Food & love
          p Composition
      .screen
        .proximamente.hidden-xs
          p Próximamente
        img(alt='', src='images/thumbs/06.png')
        .info-sample
          h4 Sexy readings for Christmas
          p Culture
      .screen
        .proximamente.hidden-xs
          p Próximamente
        img(alt='', src='images/thumbs/07.png')
        .info-sample
          h4 SMS/WhatsApp
          p Vocabulary