section#overview.simple-block
  .holder
    h1 ¿Qué es Sexy English?
    p.iconos
      i.fa.fa-2x.fa-pencil
      i.fa.fa-2x.fa-tablet
      i.fa.fa-2x.fa-rocket
      i.fa.fa-2x.fa-heart-o
    p En Sexy English nos hemos propuesto revolucionar la enseñanza del inglés. En nuestro portal aprenderás de una forma totalmente natural, mientras te relajas y disfrutas.
    p Hablarás inglés como siempre habías imaginado.
    p Sexy English propone un Método basado en las claves del aprendizaje para los adultos, adoptando tu propio ritmo de aprendizaje, tus sentimientos y emociones. Expertos pedagogos y profesores nativos diseñan permanentemente nuevas lecciones para que tu experiencia Sexy English sea efectiva y divertida. Sexy English cumple con los objetivos y contenidos de los estándares europeos.
    .clear-both
  img.ipad-fondo(src="images/overview-ipad.png",alt="")