.grad-back {
  background:url('polina.jpg') no-repeat;
  background-size: cover;
  width:100%;
  height:100%;
  position: absolute;
  margin-top:0;
  z-index: -100;
}

#bgVideo {
  opacity:1!important;
  /* background-color:@fresa; */
}

body {
  background-color:@fresa;
  padding-top:0;
}

#video_background {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
}

.centrador {
  text-align:center;
  width:100%;
}