#bottombar
  .holder
    ul
      li
        a.boton(href='index.php#overview') Qué es
      li
        a.boton(href='index.php#lecciones') Lecciones
      li
        a.boton(href='index.php#especificaciones') Contenidos
      li
        a.boton(href='index.php#equipo') Equipo
      li
        a.boton(href='index.php#testimonios') Testimonios
      .float-none