.blog

  section.purchase
    .holder
      h1 ¡Recibe el año con Sexy English!
      h4 Reading exercise

  section.eltexto
    .holder
      p Da igual cómo haya sido este año, bueno o malo, merece ser despedido con todos los honores. También debes recibir el año nuevo con alegría, por ello te proponemos una serie de rituales sencillos y con cierto toque sexy. No importa si tienes o no prevista una fiesta o salida, sea como sea diviértete.

      p En Sexy English, hemos decidido cumplir con todos y cada uno de los rituales y costumbres posibles, pero si tienes alguna propuesta, hazla, estamos deseando conocerte… eso sí, intenta hacerlo en inglés.
 
      p Este es el plan que te sugerimos y que han preparado por nuestros alumnos del grupo de testeo y en concreto José, que se incorporó al nivel “Good” y Laura que lo hizo al nivel “Better” y Antonio en “Best”. Entre todos nuestros alumnos de los tres niveles, prepararon una estructura para nuestro taller de escritura y el resultado han sido unos ejercicios, divertidos que queremos compartir con todos vosotros. Gracias Laura, José y Antonio y ¡enhorabuena!
      
      p Por cierto, ¡Empieza ya a prepararte para el nuevo año muy Sexy!

  section.samples
    .details
      .cont
        h3 Exercise 1: Jose
        h4 Level Good

  section.eltexto
    .holder
      .carta
        p To welcome the New Year, buy red underwear. Personally I like boxer shorts better than tangas, but you just buy whatever you want… and don’t forget the champagne, cava or a sparkling wine.
        p Give mistletoe to people you like so they can hang it over their front doors at home. This brings health and good luck. Next year you have to burn it up and replace it with a new one. If you have a partner, kiss him or her under the mistletoe and you get happiness all year. If you don’t have a partner, just pretend, because you’ll meet someone soon!
        p You need a few more things, too: yellow ribbon, a broom and dustpan, grapes, white, yellow, red, blue, green and orange candles, lentils, a red purse, 13 gold coins (chocolate ones are OK), a suitcase.
        p Let’s start!
        p Write a list of things you want to get rid of from last year and start a list of your wishes for the New Year.
        p Sweep the whole house clean with the broom. Throw out old things you don’t need, or give them to charity. This gets rid of bad energy and brings new things into your life.
        p At midday, prepare the lentils and the twelve grapes. Wrap the grapes in foil and tie them up with a yellow ribbon.
        p In the evening, put your red underwear on for a night of passion. Tie a yellow ribbon to your shorts or tanga to ensure success and lots of money. Place a coin in one of your shoes and carry a big banknote in your pocket.
        p Turn on all the lights at home to ensure prosperity and success in life. 
        p If you’re preparing dinner, lay the table with white linen because this brings good health. Place white and orange candles for intelligence, blue for peace, yellow for abundance, red for passion, green for health and put the red purse with 13 chocolate coins inside on the table to attract money.
        p Eat your 12 lucky grapes and think of your wishes. Drink your champagne, cava or sparkling wine because bubbles bring happiness all year. Hug and kiss the people you love. If they’re not with you, pretend you are hugging and kissing someone, and you’ll find someone new. And give yourself a hug and kiss too, because you have to love yourself first. Eat a spoonful of lentils and take your suitcase and walk around the block, thinking where you want to travel this coming year. Burn up the list of things you want to get rid of, and read your wish list for the New Year. Kiss and hug everyone you can, because the night is just starting and your underwear is red…
        p Lots of luck and Sexy New Year to everyone!
        p - José
      
      p 
        b Vocabulary: 
        | Look up words you don’t know in a dictionary.

      p 
        b Verbs: 
        | (to) welcome, buy, like, forget, give, hang, bring, burn up, replace, have, kiss, hug, get, pretend, meet, need, start, write, get rid of, sweep, throw out, prepare, wrap up, tie, put on, ensure, place, carry, turn on, lay, eat, think, drink, love, find, take, walk, travel, read.

      p 
        b Structures: 
        | All pretty easy: affirmative imperatives like “buy”, “put”, “eat”; negative imperatives like “don’t forget”; obligation with “have to”; conditionals with “if… plus future tense with “will” or present tense; simple sentences; or compound sentences with conjunctions “and”, “but”, “because”. 

  section.samples
    .details
      .cont
        h3 Exercise 2: Laura
        h4 Level Better

  section.eltexto
    .holder
      .carta
        p Buy red lingerie. I've decided to get three new thong models. One has some pretty mice in silver, another bears the message "Happy New Year" and the third is printed with the phrase "Think of a Wish", so I have several possibilities (that was a 3x1 offer!).
        p Buy champagne, cava or sparkling wine, depending on your means, because bubbles make you happy and bring good luck.
        p Give mistletoe to people you care for so they can hang it over their front doors at home. This is supposed to ensure health and good luck for them and their family. Don’t forget to tell them they have to burn it up the following year and replace it with a new one.
        p Tradition says that the couple who kiss under the mistletoe will have a lifetime of happiness. I hope that I will get some too, so in addition to ensuring good luck, I think someone is going to be kissed passionately.
        p If you have a partner, kiss him or her (French kissing is always better because you can play around more), but if you don’t, think of someone you might like to kiss because in the end what really matters is to give and receive affection.
        p This is the short list of things we need:
        p - Yellow ribbon
        p - Something new: if your credit cards are all but useless after the Christmas chaos, the thong or the sparkling wine will work.
        p - A broom and dustpan
        p - Grapes
        p - White, yellow, red, blue, green and orange candles
        p - Lentils
        p - A red purse
        p - 13 gold coins, which I plan to buy in gold-wrapped chocolate format!
        p - A suitcase
        p On the 31st early, the race to happiness starts off:
        p First take a shower, and with positive thoughts and your first coffee... meditate on the list of things you want to erase from your life and write them down. Then prepare your wish list for the New Year.
        p Clean out the house. This is where you need the broom and dustpan. Start sweeping from the end of the house and get rid of all the junk and the dirt.
        p Throw out anything useless you find still hanging around, with no compunctions or guilt. If you find things that might be useful for someone else, pack them up neatly in bags and load them into the car for charity if you don’t have time to hand them out right away.
        p These jobs will get rid of all the bad energy and attract good things to your life.
        p Here you may need a second shower.
        p At noon, prepare the lentils, wash and clean the twelve grapes, wrap them up in foil and tie them up with the yellow ribbon. Eat something light. I’m taking a stomach protector, because honestly I need it after all the excess eating and drinking since halfway through December.
        p In the afternoon try to squeeze in a little nap before a new shower surrounded by candles, and hydration... Then on goes the thong. And I'll add some yellow bows to it as well. The red lingerie attracts passion, and the yellow brings success and money. All this is fully compatible, so you don't need to sacrifice on anything.
        p Welcome the New Year by putting on your best face and turn on all the lights in your house to ensure prosperity and success. When you put your shoes on remember to place a coin in one of them and carry a banknote in your pocket, the bigger the better.
        p Now you can lay the table:
        p The tablecloth should be white because white linen prevents sickness and attracts good health. Lay out golden ornaments, coloured candles (white and orange for intelligence, blue for peace, yellow for abundance, red for passion, green for health...) Oh, and don’t forget to leave a red purse with 13 golden coins on the table to attract wealth.
        p A 12 pm I’m sure to get totally stressed out because this is what I’ve planned – not simultaneously of course, because I don’t want to wind up in hospital:
        p - Stand on a chair or a few steps of a stepladder and eat my 12 lucky grapes while I make my wish. This combined action will ensure a year of continuous development and good luck.
        p - Drink champagne, or sparkling wine, because the bubbles symbolize happiness throughout the year. Yes, I’ve been told to do it with my right hand. Some people say a bath is recommendable, but I think the “internal” bubbly bath works better!
        p - Hug and kiss the people I love. If you’re alone just think about others, and especially yourself.
        p - Eat a spoonful of lentils. As an alternative, and given the lateness of the hour I've been told that I can throw a handful over my shoulder and that that works too!
        p - Take the suitcase – a wheeled one for greater comfort after a hectic day out – and walk briskly round the block one or two times, thinking of possible travel destinations. This ritual is said to attract the trips you really want to make.
        p - Tip a full glass of water out in the garden or on the street to drive away tears, sorrows and negativity from your life.
        p - Burn up your list of things you want to get rid of from your life from last year.
        p - Open your wish list for the coming year and read it slowly.
        p I am convinced this will work for you too, and all these activities have a significant caloric expenditure (good for losing weight!), your house will be spick and span, and in any case I’m sure you will feel happy and very Sexy!
        
      p 
        b Vocabulary: 
        | Look up words you don’t know in a dictionary.
      p 
        b Verbs: 
        | In addition to verbs from the GOOD level (read José’s text), you have: (to) decide, bear, print, care for, suppose, hope, play around, hang around, matter, work, start off, meditate, erase, clean out, pack up, load, hand out, attract, squeeze in, add, prevent, lay out, get stressed out, wind up, stand, symbolize, tip, drive away, 
      p 
        b Structures: 
      p 
        b Passive: 
        | is supposed to, is printed with, someone is going to be kissed, I’ve been told, is said to, 
      p 
        b Helping verbs: 
        | might like, might be useful, may need, should be, 
      p 
        b Future: 
        | will work, I’ll add, 
      p
        b Present perfect: 
        | I've decided, I’ve planned
      p Affirmative imperatives like “buy”, “put”, “eat”; negative imperatives like “don’t forget”; obligation with “have to”; conditionals with “if… plus future tense with “will” or present tense; simple sentences; and compound sentences with conjunctions “and”, “but”, “because”, “so”, “while”.

  section.samples#cuartooscuro
    .details
      .cont
        h3 Exercise 3: Antonio - The Dark Room
        h4 Level Best

  section.eltexto
    .holder
      p Leo a mis compañeros y todo es almíbar, dulce… ufff quiero algo más apasionado. Me voy directamente al Dark Room para redactar mis deseos, y si queréis, seguidme…

      .carta
        p This is what I want for New Year’s Eve...

        h3 Vocabulary
        ul
          li Mistletoe	(muérdago, pero cuando beses no muerdas mucho).
          li Red underwear	(ropa interior roja, preferentemente comestible).
          li Candles		(velas, que atraen a las mujeres).
          li Champagne	(o cava si te sientes muy español).
          li Grapes		(uvas).
          li Chinese balls	(bolas chinas).
          li Handcuffs	(esposas, quiero decir las de la poli).
          li Cock ring	(anillo para la polla).
          li Various firecrackers!	(petardos, ¡no petardas!).
        p Do everything that Laura and José say, but just arrange everything properly so that you have twenty-four grapes ready on a white bed by 11:45 pm and feed them to each other exactly at midnight. Drink a couple of glasses of champagne and then handcuff her to the bed and go down on her and play with the Chinese balls, your tongue and your fingers. 20 minutes is OK. Then make sure your cock ring is on and feed it to her until she gags. 10 minutes is good. Then tease her with it for a while and do whatever you want, but make sure you wait for at least an hour before popping your firecracker. Even if it’s one hour into the New Year, you have to start with a bang! Roll over and sleep for 15 minutes, then wake up and start again (if you don’t forget!). Continue for all long as you can. That will ensure a whole year of good sex for 2014. That’s my recommendation. Good luck, dude!

  section.samples
    .details
      .cont
        h3 Writing exercises

  section.eltexto
    .holder
    
      p What’s your plan for New Year Eve?

      p How are you going to get ready for your celebration on the 31st?

      p What things do you need?

      p Are you having a party, and if so, where and with whom?

      p Are you alone, and if so, what will you do?

      p What’s your list of things you want to get rid of from the old year?

      p What’s your New Year’s wish list?

      p How are you going to make your New Year’s Eve Sexy?
