!!! 5
html(lang="es")
  head
    - include 'views/head-meta.phtml'
    - include 'views/head-statics.phtml'
  body#blog
    .presenation
      - include 'views/topbar.phtml'
      - include 'views/bottombar.phtml'
      
      - include 'views/blog/new-year-text.phtml'
    
    - include 'views/suscribe.phtml'
    
    - include 'views/footer.phtml'
