#equipo {
  h3 {
    line-height: 1.5;
    margin-top:16px;
  }
  a {
    margin-right:19px;
  i {
    font-size:26px;
    text-decoration: none!important;
  }
  }
  p {
    margin-top:-10px!important
  }
  li {
    text-align: center;
  }
  .img {
    .background-size();
    border: 9px solid white;
    border-radius: 3px;
    .box-shadow(0px 0px 12px -7px black);
    width:198px;
    height:258px;
    display:inline-block;
  }
}